@tailwind base;
@tailwind components;
@tailwind utilities;

.like {
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  width: 50px;
  height: 50px;
  background-position: left;
  background-size: cover;
  transition: background-position 0s steps(28);
  opacity: 0;
  cursor: pointer;
}
.active {
    transition-duration: 1s;
    background-position: right;
    opacity: 100;
}

.increment {
  transform: translate(0);
  opacity: 1;
  transition: 0.1s ease-in-out;
}

.decrement {
  transform: translate(0, -24px);
  opacity: 0;
  transition: 0.1s ease-in-out;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
